html {
    font-size: 15px;
    font-weight: lighter;
}
body {
    border: auto auto auto auto;
    background-color: whitesmoke;
}
h1 {
    font-size: 3em;
}

p {
    font-size: 1.3em;
    line-height: 2;
    margin-left: 1em;
    margin-right: 1em;
}

.original {
    width: 100%;
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    flex: auto;
    background-color: black;
}

.nav_box {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: auto;
    background-color: black;
    padding-left: 10%;
}
.box
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: auto;
    background-color: azure;
    margin:20% 5% 10% 5%;
}

.box-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 200px;
}
.box-btn
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
button {
    display: inline-block;
    font-size: 1.3em;
    padding: 10px 10px;
    border-radius: 4px;
    background-color: cadetblue;
    color: white;
    text-align: center;
    border: white;
    margin: 20px;
}

button:hover {
    background-color: darkcyan;
    color: white;
}

button[name="btn2"] {
    background-color: lightblue;
    flex: -1;
}

button[name="btn2"]:hover {
    background-color: lightskyblue;
    color: white;
}
button[name="header"] {
    background-color: black;
    color: gray;
    font-size: 1.6em;
    text-align: center;
}
button[name="header"]:hover {
    color: white;
}
#none{
    background-color: black;
}